@use '../abstracts/variables2' as *;

@mixin body-font {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1%;
}

@mixin header-font {
  font-family: $header-font;
  font-weight: bold;
  letter-spacing: 1%;
}

$textStyle: ("center", "left", "right", "justify");

@each $text in $textStyle {
  .text-#{$text} {
    text-align: #{$text};
  }
}
