@use './variables2' as *;

// function for set text color

@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// color text

$colorPacks: (
  "primary": $primary,
  "accent": $accent,
  "secondary": $secondary,
  "light": "#fff",
  "dark": "#000",
);

@each $color, $value in $colorPacks {
  .bg-#{$color} {
    background: #{$value};
  }

  .btn-#{$color} {
    background: #{$value};
    border: 1px solid #{$value};
    color: #fff;

    &:hover {
      color: #{$value};
      background: #fff;
      border: 1px solid #{$value};
    }
  }

  .text-#{$color} {
    color: #{$value};
  }
}
