// this file contain all the typography mixin for future use

@use './variables2' as *;

@mixin body-font {
  font-family: $body-font;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1%;
}

@mixin header-font {
  font-family: $header-font;
  font-weight: bold;
  letter-spacing: 1%;
}
