@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
// fonts
$header-font: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;

// colors
$base: #e7eafb;
$white: #fff;
$back: #000;
$accent: #000;
$primary: #8c99e7;
$secondary: rgb(194, 146, 146);
